@import '../../../../../../scss_global/scss-common2';
@import 'bs_reset';
@import 'sec_kv';
@import 'sec_funding';
@import 'sec_event';
@import 'sec_event_02';
@import 'sec_notice';

.wedding_fund {
    .pt_hide {visibility: hidden; width: 0 !important; height: 0 !important; padding: 0 !important; margin: 0 !important; overflow: hidden !important;}

    .txt_blue {color: #139ded;}
    .sec_desc {@include vw-pc(font-size, 24); @include vw-pc(margin-bottom, 60); @include vw-pc(line-height, 8); text-align: center;}
    .btn_common.blue_bg {
        display: inline-flex; @include vw-pc(width, 420); @include vw-pc(height, 78); @include vw-pc(border-radius, 39); border: 0; @include vw-pc(font-size, 28); font-weight: 700; @include vw-pc(letter-spacing, 1.5); background: #139ded; color: #fff;

        &:hover, &:focus {background: #139ded; color: #fff;}
    }

    .sec_step_num {display: flex; align-items: center; justify-content: center; @include vw-pc(padding-bottom, 12); @include vw-pc(margin, 0 auto 30); @include vw-pc(width, 200); @include vw-pc(height, 51); background: url('../../is/images/step_bg.png'); @include vw-pc(font-size, 24); color: #2a2a2a;}
    .sec_title {
        text-align: center;

        &__logo {@include vw-pc(width, 311); @include vw-pc(height, 97); margin: 0 auto;}
        &__text {@include vw-pc(margin-bottom, 16); @include vw-pc(font-size, 35); letter-spacing: 0; font-weight: 700;}
        &__text-ico {
            display: inline-block; position: relative; @include vw-pc(padding-left, 65); color: #fff;
            &::before {content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); @include vw-pc(width, 55); @include vw-pc(height, 60); background-size: 100%; background-image: url('../../is/images/wf_box_icon.png'); background-position: left top; background-repeat: no-repeat;}
        }
        &__text-blue {margin-bottom: 0; @include vw-pc(font-size, 42); color: #139ded; }
        &__desc {@include vw-pc(font-size, 32); @include vw-pc(line-height, 39); color: #fefefe; font-weight: 400; letter-spacing: -0.01em;}
    }

    .btn_wrap {text-align: center;}
}

@media screen and (max-width: 768px) {
    .wedding_fund {
        .btn_common.blue_bg {@include vw-mo(width, 580); @include vw-mo(height, 110); @include vw-mo(border-radius, 55); @include vw-mo(font-size, 38); @include vw-mo(letter-spacing, 1.5);}

        .sec_title {
            &__logo {@include vw-mo(width, 371); @include vw-mo(height, 116);}
            &__text {@include vw-mo(margin-bottom, 15); @include vw-mo(font-size, 38); letter-spacing: -0.025em;}
            &__text-ico {
                @include vw-mo(padding-left, 60);
                &::before {@include vw-mo(width, 55); @include vw-mo(height, 60);}
            }
            &__text-blue {@include vw-mo(margin-bottom, 33); @include vw-mo(font-size, 48); letter-spacing: -.025em;}
            &__desc {@include vw-mo(margin-left, 0); @include vw-mo(font-size, 30);  @include vw-mo(line-height, 36); letter-spacing: 0;}
        }
    }
}
